<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Edit Event</h2>
            <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="p-4 border rounded shadow bg-light">
                
                <div class="mb-3">
                    <label for="name" class="form-label">Event Name</label>
                    <input id="name" formControlName="name" required class="form-control" />
                </div>
    
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input id="description" formControlName="description" required class="form-control" />
                </div>
    
                <div class="mb-3">
                    <label for="date" class="form-label">Date</label>
                    <input id="date" formControlName="date" required type="date" class="form-control" />
                </div>
    
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input id="location" formControlName="location" required class="form-control" />
                </div>
    
                <div class="d-flex justify-content-between">
                    <button type="submit" [disabled]="eventForm.invalid" class="btn btn-primary">Save</button>
                    <button type="button" (click)="onCancel()" class="btn btn-secondary">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>